<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h1>User</h1>
<p th:text="'Id: ' + ${user.getId()}">Id</p>
<p th:text="'Name : ' + ${user.getFirstName()}">Name</p>
<p th:text="'Lastname : ' + ${user.getLastName()}">Lastname</p>
<p th:text="'Email : ' + ${user.getEmail()}">E-mail</p>
<br>
<button onclick="window.location.href = '..';">Back</button>
</body>
</html>